body{
font-family:Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#2e7d32;
color:white;
padding:20px;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

.hero{
padding:80px;
}

button{
background:#2e7d32;
color:white;
padding:15px 35px;
border:none;
border-radius:5px;
cursor:pointer;
font-size:18px;
}

button:hover{
background:#1b5e20;
}input{
width:300px;
padding:12px;
font-size:16px;
border:1px solid #ccc;
border-radius:5px;
}

form{
margin-top:30px;
}